<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="search" href="https://circuitdebater.wikispaces.com/space/opensearch" type="application/opensearchdescription+xml" title="Wikispaces Search (circuitdebater Wiki)" />
<link rel="alternate" title="circuitdebater - All Changes" href="../../wiki/xmla-v=rss_2_0.rss" type="application/rss+xml" />
<link rel="alternate" title="circuitdebater : University DB - Discussion" href="../xmlm/University+DB-v=rss_2_0.rss" type="application/rss+xml" />
<link rel="alternate" title="circuitdebater : University DB - Edits" href="../xml/University+DB-v=rss_2_0.rss" type="application/rss+xml" />
<script type="text/javascript">
  
if (typeof ws === 'undefined') ws = {};
ws.context = {
  instance: {
    id: '1',
    url: 'wikispaces.com',
    isMain: true,
    supportsGoogleDocs: false,
    isTesClassroom: false,
  },
  user: {
    id: '',
    username: '',
    status: '',
    locale: 'en_US',
    imageUrlPrefix: 'https://ssl.wikicdn.com/i/user_none_',
    isTeacher: false,
    canAdministerWiki: false,
  },
  wiki: {
    id: '1859939',
    name: 'circuitdebater',
    text: 'circuitdebater',
    module: 'B',
    isClassroom: false,
    isTesClassroom: false
    ,defaultSpaceId: 1859939
    ,isWwwWiki: false
  },
  project: {
    id: '1859939',
    name: ''
  },
  space: {
    id: '1859939',
    name: 'circuitdebater',
    isDefaultSpace: true,
    isDefaultTemplate: false
  },

  environment_name: 'prod',

  path: {
    object: 'page',
    method: 'links',
    page: 'University DB',
    id: ''
  },

  settings: {
    main_domain: 'wikispaces.com',
    session_url: 'https://session.wikispaces.com/1/',
    asset_url_prefix: 'https://ssl.wikicdn.com',
    beta_features: false,
    isMobileSite: false,
    isUploadCapable: true,
    can_discuss: false,
    has_gdocs: false,
    isDialog: false,
    pwin: ''
  },
  clockSkewMillis: 1528237949669 - ((window.performance && window.performance.timing.responseStart > 0) ? window.performance.timing.responseStart : (new Date()).getTime())
}


// legacy javascript API variables, use the above instead
var wikispaces_isUserLoggedIn = !!ws.context.user.id;
var wikispaces_isMain = ws.context.instance.isMain;
var wikispaces_username = ws.context.user.username;
var wikispaces_spaceName = ws.context.space.name;
var wikispaces_projectName = ws.context.project.name;
var wikispaces_wikiName = ws.context.wiki.name;
var wikispaces_wikiText = ws.context.wiki.text;
var wikispaces_isDefaultSpace = ws.context.space.isDefaultSpace;
var wikispaces_method = ws.context.path.method;
var wikispaces_object = ws.context.path.object;
var wikispaces_page = ws.context.path.page;
var wikispaces_id = ws.context.path.id;
var wikispaces_domain = ws.context.instance.url;
var wikispaces_isUserOrganizer = false;
var wikispaces_main_domain = ws.context.settings.asset_url_prefix;
var wikispaces_asset_url_prefix = ws.context.settings.asset_url_prefix;
var wikispaces_beta_features = ws.context.settings.beta_features;
var wikispaces_isMobileSite = ws.context.settings.isMobileSite;
var wikispaces_isUploadCapable = ws.context.settings.isUploadCapable;
var wikispaces_can_discuss = ws.context.settings.can_discuss;
var wikispaces_has_gdocs = ws.context.settings.has_gdocs;

</script><title>circuitdebater - University DB - Links</title>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="144x144" href="https://ssl.wikicdn.com/_/z6371z4x/i/logo-144.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://ssl.wikicdn.com/_/j5j77xz3/i/logo-114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://ssl.wikicdn.com/_/vq8j5432/i/logo-72.png" />
<link rel="apple-touch-icon" href="https://ssl.wikicdn.com/_/38515190/i/logo-57.png" />
<link rel="shortcut icon" href="https://ssl.wikicdn.com/_/55v9k02z/i/logo-16.png" />
<style type="text/css">
/* Standard theme styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.ws-theme-header-inner,
.ws-theme-body-inner,
.ws-theme-footer-inner,
.ws-theme-content-inner,
.ws-theme-sidebar-inner {
  position: relative;
}
.ws-theme-header-inner:after,
.ws-theme-body-inner:after,
.ws-theme-footer-inner:after,
.ws-theme-content-inner:after,
.ws-theme-sidebar-inner:after,
.ws-theme-menu-inner:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ws-theme-content, .ws-theme-sidebar {
  overflow-x: auto;
}
.ws-theme-footer {
  text-align: right;
}
.ws-theme-footer a, .ws-theme-footer a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
}
@media (min-width: 992px) {
  .ws-theme-container {
    width: 970px;
  }
  .ws-theme-content {
    width: 770px;
    min-height: 496px;
  }
}
@media (min-width: 1200px) {
  .ws-theme-container {
    width: 1170px;
  }
  .ws-theme-content {
    width: 970px;
    min-height: 600px;
  }
}
/* End standard theme styles */
</style>
<style type="text/css">
/* Theme-specific styles */
body {
  background-color: #CDE5D5;
}

.ws-theme-header .WikiSearch .WikiSearchInput,
.ws-theme-sidebar .WikiSearch .WikiSearchInput,
.ws-theme-footer .WikiSearch .WikiSearchInput {
  width: 100%;
}

.ws-theme-header a,
.ws-theme-sidebar a,
.ws-theme-footer a {
  color: inherit;
  text-decoration: none;
}
.ws-theme-header a:hover,
.ws-theme-sidebar a:hover,
.ws-theme-footer a:hover {
  text-decoration: underline;
}
.ws-theme-header img,
.ws-theme-sidebar img,
.ws-theme-footer img {
  border: none;
}

.ws-theme-header,
.ws-theme-sidebar {
  display: none;
}

.ws-theme-sidebar,
.ws-theme-footer {
  color: #000000;
}

.ws-theme-body-inner {
  padding: 8px 5px;
}

.ws-theme-content {
  overflow-x: visible;
}
.ws-theme-content-inner {
  background-color: #FFF;
  padding: 15px;
}

.ws-theme-footer {
  font-size: 12px;
}
.ws-theme-footer-inner {
  padding: 0 15px 15px 15px;
}
.ws-theme-footer .WikiLicense img {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  .ws-theme-container {
    width: auto;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }

  .ws-theme-header {
    color: #FFF;
    background: #1D773C url('https://ssl.wikicdn.com/_/94v39788/i/theme_swoop.png') no-repeat 100% -25px;
  }
  .ws-theme-header-inner {
    padding: 15px 0;
  }

  .ws-theme-body-inner {
    padding: 15px;
  }

  .ws-theme-content {
    width: auto;
    float: none;
    margin-left: 215px;
  }
  .ws-theme-content-inner {
    width: 100%;
    float: left;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
  }

  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
}
/* End theme-specific styles */
</style>
<link rel="stylesheet" href="https://www.wikispaces.com/stylesheet/viewi/217420326D.gz.css" type="text/css" />
<link rel="stylesheet" href="https://ssl.wikicdn.com/s/gz/9jvvjv40-internal-bootstrap.css" type="text/css" />
<link rel="stylesheet" href="https://ssl.wikicdn.com/s/gz/vz033906-internal.css" type="text/css" />
<script src="https://ssl.wikicdn.com/s/gz/84014v41-top.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];

  var wsGoogleAccount = 'UA-80504-1';
  _gaq.push(['_setAccount', wsGoogleAccount]);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_setDomainName', 'wikispaces.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setCustomVar', 2, 'Authenticated', 'Guest', 2]);
  _gaq.push(['_trackPageview']);
</script></head>
<body><a href="University+DB-orderBy=latest_date&orderDir=desc.html#WikiContent" class="hidden sr-only sr-only-focusable">Skip to main content</a><div id="js-fixed-header-holder" class="fixed"><div class="WikispacesContent WikispacesBs3" role="banner">
      
    <div class="ws-main-top-nav visible-xs">
    <div class="navbar navbar-static-top" style="margin-bottom: 0;">
      <div class="container">
                <div class="navbar-header">
          <div class="visible-xs pull-left">
            <a href="/space/menu" class="WikispacesDialogLink btn navbar-btn">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="visible-xs pull-right js-globalnav-popover-container">
                        <a href="https://www.wikispaces.com/site/signin?goto=https://circuitdebater.wikispaces.com/page/links/University+DB?orderBy=latest_date&orderDir=desc" class="btn navbar-btn ws-mobile-guest-username js-globalnav-popover-trigger">
              guest
            </a>
                        <div class="hidden js-globalnav-popover-content">
              <div class="WikispacesContent WikispacesBs3">
                <div class="WikiInternalHeaderNav noHide">
  <div class="WikiInternalHeaderNavMenu">
                          
                  <span class="WikiInternalHeaderNavMenuArea"><a href="https://www.wikispaces.com/user/join?goto=https://circuitdebater.wikispaces.com/space/join" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="http://helpcenter.wikispaces.com/">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="https://www.wikispaces.com/site/signin?goto=https://circuitdebater.wikispaces.com/page/links/University+DB?orderBy=latest_date&orderDir=desc" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div>              </div>
            </div>
          </div>
          <div class="ws-navbar-middle-xs">
            <div class="navbar-brand" role="navigation">
              <a href="https://www.wikispaces.com/" class="ws-logo"></a>
              <i class="fa fa-angle-right"></i>
              <a href="../../index.html">circuitdebater</a>
                              <i class="fa fa-angle-right"></i> <a href="../../home.html">Home</a>
              
            </div>
          </div>
                    <form action="/search/view" method="post" class="navbar-form ws-include-xs pull-left ws-navbar-search hidden-xs" role="search"><input type="hidden" name="wikispacesFormToken" value="6c28bd3b3d9983df6495b4f682a997adc566ba9c"/><input type="text" class="form-control search-query" name="q" value="" placeholder="Search" /> </form>
                  </div>
      </div>
    </div>
  </div>
      <div class="hidden-xs"><div class="WikiInternalHeaderNav WikiElement floating">
  <div class="WikiInternalHeaderNavMenu">
                                    <span class="WikiInternalHeaderNavMenuArea guestUserName">guest</span><span class="slideMarker divider">|</span>
        
                  <span class="WikiInternalHeaderNavMenuArea"><a href="https://www.wikispaces.com/user/join?goto=https://circuitdebater.wikispaces.com/space/join" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="http://helpcenter.wikispaces.com/">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="https://www.wikispaces.com/site/signin?goto=https://circuitdebater.wikispaces.com/page/links/University+DB?orderBy=latest_date&orderDir=desc" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div></div>
  </div></div><div id="js-fixed-header-offset">
<header class="ws-theme-header" role="banner">
  <div class="ws-theme-container">
    <div class="ws-theme-header-inner">
      
<table class="WikiLogoTable WikiElement">
<tr>
  <td>
    <a href="../../index.html"><img src="https://ssl.wikicdn.com/i/logo-shadow-40.png" alt="" width="40" height="40" /></a>
  </td>
  <td class="WikiLogoName">
    <a href="../../index.html">circuitdebater</a>
  </td>
</tr>
</table>    </div>
  </div>
</header>

<div class="ws-theme-body">
  <div class="ws-theme-container">
    <div class="ws-theme-body-inner">
      <nav class="ws-theme-sidebar" role="navigation">
        <div class="ws-theme-sidebar-inner">
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <ul class="WikiActions WikiElement WikiControls">
    <li id="WikiActionHome"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../../index.html"><i class="fa fa-home fa-fw"></i></a><a href="../../index.html">Wiki Home</a></div></li>
    <li id="WikiActionChanges"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../../wiki/changes.html"><i class="fa fa-clock-o fa-fw"></i></a><a href="../../wiki/changes.html">Recent Changes</a></div></li>
    <li id="WikiActionPagesAndFiles"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="/space/content"><i class="fa fa-file-text-o fa-fw"></i></a><a href="/space/content">Pages and Files</a></div></li>
    <li id="WikiActionMembers"><div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="/wiki/members"><i class="fa fa-user fa-fw"></i></a><a href="/wiki/members">Members</a></div></li>
</ul>
              <form action="/search/view" method="post" class="WikiSearch WikiElement" role="search"><input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Search" /> </form>              <div class="WikiCustomNav WikiElement wiki"><!-- ws:start:WikiTextIncludeRule:0:&lt;img src=&quot;https://www.wikispaces.com/site/embedthumbnail/include/navigation?w=200&amp;h=100&quot; class=&quot;WikiMedia WikiMediaInclude&quot; id=&quot;wikitext@@include@@component=&amp;quot;navigation&amp;quot;&quot; title=&quot;Include navigation: component=&amp;quot;navigation&amp;quot;&quot; /&gt; --><div class="WikispacesNavbar" data-spaceid="1859939" data-navbarurl="/navbar">
  <div id="WikispacesNavbarFavoritesEntry" data-entryid="52532" class="WikispacesNavbarEntry">
  <div class="WikispacesNavbarEntryHeader">
        <span class="fa-fw"><i class="WikispacesNavbarToggle WikispacesNavbarPlus fa fa-caret-right"></i><i class="WikispacesNavbarToggle WikispacesNavbarMinus fa fa-caret-down"></i></span><span>Favorites&nbsp;<i class="fa fa-star"></i></span>
  </div>
  <div class="WikispacesNavbarEntryItems" id="WikispacesNavbarFavoritesEntryItems">
    <span class="hidden WikispacesNavbarNum">20</span>
<ol>
</ol>
  </div>
</div>  <div id="WikispacesNavbarAllPagesEntry" data-entryid="52534" class="WikispacesNavbarEntry WikispacesNavbarSortableEntry WikispacesNavbarRemovableEntry">
  <div class="WikispacesNavbarEntryHeader">
        <i class="WikispacesNavbarSpinner fa fa-spinner fa-spin pull-right"></i><span class="WikispacesNavbarHeaderAction WikispacesNavbarRemoveEntry close"><i class="fa fa-times"></i></span><span class="fa-fw"><i class="WikispacesNavbarToggle WikispacesNavbarPlus fa fa-caret-right"></i><i class="WikispacesNavbarToggle WikispacesNavbarMinus fa fa-caret-down"></i></span><span>All Pages</span>
  </div>
  <div class="WikispacesNavbarEntryItems" id="WikispacesNavbarAllPagesEntryItems">
    <span class="hidden WikispacesNavbarNum">20</span>
<ol>
  <li>
    <a href="../../home.html" data-uniqid="20634691">home</a>
  </li>
  <li>
    <a href="../../AA+PLEASE+READ!!!+PRESERVING+CIRCUIT+DEBATER+PAGES.html" data-uniqid="247236953">AA PLEASE READ!!! PRESERVING CIRCUIT DEBATER PAGES</a>
  </li>
  <li>
    <a href="../../Aliso+Niguel+RG+(Regan+Grishaber).html" data-uniqid="105895914">Aliso Niguel RG (Regan Grishaber)</a>
  </li>
  <li>
    <a href="../../Apple+Valley+CT.html" data-uniqid="20636835">Apple Valley CT</a>
  </li>
  <li>
    <a href="../../Apple+Valley+JB+(John+Boals).html" data-uniqid="240717723">Apple Valley JB (John Boals)</a>
  </li>
  <li>
    <a href="../../Bainbridge+AT+(Alex+Teiche).html" data-uniqid="105722882">Bainbridge AT (Alex Teiche)</a>
  </li>
  <li>
    <a href="../../BASIS+Scottsdale+CD+(Connor+Davis).html" data-uniqid="212068842">BASIS Scottsdale CD (Connor Davis)</a>
  </li>
  <li>
    <a href="../../Ben+Franklin+SF+(Sean+Fahey).html" data-uniqid="212098556">Ben Franklin SF (Sean Fahey)</a>
  </li>
  <li>
    <a href="../../Bergen+County+Academies+EL+(Elizabeth+Lee).html" data-uniqid="242138191">Bergen County Academies EL (Elizabeth Lee)</a>
  </li>
  <li>
    <a href="../../Blair+Academy+AC.html" data-uniqid="247232515">Blair Academy AC</a>
  </li>
  <li>
    <a href="../../Blake+EL.html" data-uniqid="42246857">Blake EL</a>
  </li>
  <li>
    <a href="../../Brentwood.html" data-uniqid="240662935">Brentwood</a>
  </li>
  <li>
    <a href="../../Brentwood+JL+(Jackson+Lallas).html" data-uniqid="212033514">Brentwood JL (Jackson Lallas)</a>
  </li>
  <li>
    <a href="../../Brentwood+RY+&+WJ+(Ryan+Younger+and+Whit+Jackson).html" data-uniqid="240665043">Brentwood RY &amp; WJ (Ryan Younger and Whit Jackson)</a>
  </li>
  <li>
    <a href="../../Brophy+College+Prep+SR.html" data-uniqid="152419036">Brophy College Prep SR</a>
  </li>
  <li>
    <a href="../../Byram+Hills+PE+(Paul+Erlanger).html" data-uniqid="225487381">Byram Hills PE (Paul Erlanger)</a>
  </li>
  <li>
    <a href="../../Cambridge+OS+(Oliver+Sussman).html" data-uniqid="225379163">Cambridge OS (Oliver Sussman)</a>
  </li>
  <li>
    <a href="../../Clements+FT+(Felix+Tan).html" data-uniqid="225381427">Clements FT (Felix Tan)</a>
  </li>
  <li>
    <a href="../../Collegiate+EW+(Eric+Wallach).html" data-uniqid="240746243">Collegiate EW (Eric Wallach)</a>
  </li>
  <li>
    <a href="../../Crossroads+NS+(Noah+Simon).html" data-uniqid="225505357">Crossroads NS (Noah Simon)</a>
  </li>
</ol>
  <div class="WikispacesNavbarSeeMoreDiv"><a href="University+DB-orderBy=latest_date&orderDir=desc.html#" class="WikispacesNavbarSeeMore">see more</a></div>
  </div>
</div>  <div id="WikispacesNavbarTags">
    </div>
  <div id="WikispacesNavbarOptions" class="WikispacesNavbarEntry WikispacesContent WikispacesBs3">
    <div id="WikispacesNavbarOptionsEntryItems" class="WikispacesNavbarEntryItems">
      <form class="WikispacesNavbarNewTagNavbarForm" action="/navbar/tag" method="post">
        <div class="input-group">
          <input type="text" name="tagName" placeholder="Tag" class="form-control" style="width: 135px;"/>
          <div class="input-group-btn">
            <button type="submit" name="submitTag" value="1" class="btn btn-default ws-btn-spinner"><span>Add</span></button>
          </div>
        </div>
      </form>
      <form class="WikispacesNavbarShowAllPagesForm text-center" action="/navbar/update/52534" method="post">
        <input type="hidden" name="status" value="A" />
        <button type="submit" class="btn btn-default WikispacesNavbarShowAllPages ws-btn-spinner hidden" name="go" value="1"><span>Add "All Pages"</span></button>
        <button type="button" class="btn btn-primary WikispacesNavbarEditDone">Done</button>
        <i class="fa fa-spinner fa-spin hidden"></i>
      </form>
    </div>
  </div>
</div><!-- ws:end:WikiTextIncludeRule:0 --></div>              <div class="ws-theme-nav-edit">
                              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="ws-theme-content" role="main">
        <div class="ws-theme-content-inner">
          <div class="contentBox"><div class="innerContentBox" id="WikiContent"><div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">
  
    <h1 class="pageTitle"><a href="../../University+DB.html">University DB</a></h1>
      <div class="btn-group pull-right">
          <a class="btn btn-default editButton" href="https://circuitdebater.wikispaces.com/page/edit/University+DB?goto=https://circuitdebater.wikispaces.com/page/links/University+DB?orderBy=latest_date&orderDir=desc"><i class="fa fa-pencil fa-fw"></i> Edit</a>          <a class="btn btn-default tipme" title="no discussion posts" href="../../University+DB.html#discussion"><i class="fa fa-comments fa-fw"></i> 0</a>          <a class="btn btn-default tipme" title="view 4 revisions" href="../history/University+DB.html"><i class="fa fa-clock-o fa-fw"></i> 4</a>          <a class="btn btn-default ws-btn-more dropdown-toggle tipme" title="more options" href="/page/menu/University+DB"><i class="icon-height-only fa-fw"></i>&hellip;</a>        <ul class="ws-more-menu dropdown-menu dropdown-menu-right">
              <li class=" dropdown"><a class=" ws-tag-dropdown-toggle" href="/page/tags/University+DB"><span class="pull-right">0</span> <i class="fa fa-tag fa-fw"></i> Tags</a>
          <div class="dropdown-menu dropdown-menu-right ws-tag-dropdown-menu">
          



<form action="#" name="WikiTagForm" class="WikiTagForm"><input type="hidden" name="wikispacesFormToken" value="9ff0dac79b0bb67f88a51f131fe5638be1fedeb1"/><input type="hidden" name="wikispacesFormToken" value="9ff0dac79b0bb67f88a51f131fe5638be1fedeb1"/>
  <div class="WikiTagList">
    <i class="fa fa-tag ws-action"></i>
        <ul class="list-unstyled">
          <li>No tags</li>
        </ul>
          <a href="University+DB-orderBy=latest_date&orderDir=desc.html#" class="WikiTagsEditLink">edit</a>
      </div>
    <div class="WikiTagsEdit WikispacesContent WikispacesBs3 row">
    <input type="hidden" name="url" value="https://circuitdebater.wikispaces.com/tag/update/University%20DB"/>
    <input type="hidden" name="type" value="page"/>
    <input type="hidden" name="ajax" value="1"/>
    <div class="col-sm-4 col-sm-push-8">
      <button class="btn btn-primary ws-tag-form-save" type="submit" name="go" value="1">Save</button>
      <button type="button" class="btn btn-default WikiTagFormCancel">Cancel</button>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <input class="form-control WikiTagInput" type="text" name="tagList" value=""/>
    </div>
  </div>
  </form>      </div>
    </li>
              <li class="divider"></li>
            <li class=""><a class=" WikispacesDialogLink" href="https://circuitdebater.wikispaces.com/wiki/addmonitor?monitorLink=page%3AUniversity%20DB"><i class="fa fa-eye fa-fw"></i> Notify</a>
    </li>
        <li class=""><a class=" WikispacesDialogLink" href="/page/rss/University+DB"><i class="fa fa-rss fa-fw"></i> RSS</a>
    </li>
        <li class=""><a class="" href="University+DB.html"><i class="fa fa-link fa-fw"></i> Backlinks</a>
    </li>
              <li class="divider"></li>
            <li class=""><a class="" href="/page/code/University+DB"><i class="fa fa-code fa-fw"></i> Source</a>
    </li>
        <li class=""><a class="" href="../../University+DB-f=print.html"><i class="fa fa-print fa-fw"></i> Print</a>
    </li>
        <li class=""><a class="" href="/page/pdf/University+DB"><i class="fa fa-cloud-download fa-fw"></i> Export (PDF)</a>
    </li>
      </ul>  </div>
  </div>

<div class="WikispacesContent WikispacesBs3">

<h1 class="pageTitle">Backlinks</h1>

<p>The following pages contain links back to this page</p>
<div id="WikiTableLinkList" class="cobWrapper"><a class="hidden cobUrl jssmLink" href="University+DB-orderBy=latest_date&orderDir=desc.html">&nbsp;</a><table class="table table-hover table-stripe cob">
  <thead>
    <tr>
      <th><a class="jssmLink" rel="nofollow" href="University+DB-orderBy=page_name&orderDir=asc.html">Page</a> <i class="invisible fa fa-caret-down"></i></th>
      <th><a class="jssmLink cob-sort-active" rel="nofollow" href="University+DB-orderBy=latest_date&orderDir=asc.html">Date Edited <i class="fa fa-caret-up"></i></a></th>
    </tr>
  </thead>
    <tfoot>
    <tr>
     <td colspan="2">

<ul class="pagination pull-right">
                  <li class="nohover"><span>
              1 of 1          </span></li>
        <li>
      <a href="linkList-2018-06-05-orderBy=latest_date&orderDir=desc&utable=WikiTableLinkList&ut_csv=1.csv" title="Download as CSV" class="WikispacesTooltip">
        <i class="fa fa-download"></i>
      </a>
    </li>
    </ul>

<ul class="pagination pull-right ws-pagination-selector">
  <li class="js-selections hidden nohover"
    data-singular="%d row"
    data-plural="%d rows">
    <span>
      <span></span>
    </span>
  </li>
  <li class="js-selections hidden">
    <a href="University+DB-orderBy=latest_date&orderDir=desc.html#" title="Clear Selected Rows" class="js-selections-remove WikispacesTooltip">
      <i class="fa fa-times"></i>
    </a>
  </li>
</ul>

<a href="University+DB-orderBy=latest_date&orderDir=desc.html" class="refreshLink pagerLink hidden">&nbsp;</a></td>
    </tr>
  </tfoot>
    <tbody>
      <tr>
      <td>
        <a href="../../home.html">home</a>
      </td>
      <td>Apr 30, 2018</td>
    </tr>
    </tbody>
</table></div>

</div></div></div><div id="sentinel" style="clear:both"></div>        </div>
      </main>
    </div>
  </div>
</div>

<footer class="ws-theme-footer" role="contentinfo">
  <div class="ws-theme-container">
    <div class="ws-theme-footer-inner">
      <div class="WikiFooterNav WikiElement">
<a href="http://helpcenter.wikispaces.com/" rel="nofollow" class="js-help-trigger">Help</a> &middot;
<a href="https://www.wikispaces.com/about">About</a> &middot;
<a href="https://www.wikispaces.com/content/pricing" rel="nofollow">Pricing</a> &middot;
<a href="https://www.wikispaces.com/privacy" rel="nofollow">Privacy</a> &middot;
<a href="https://www.wikispaces.com/terms" rel="nofollow">Terms</a> &middot;
<a href="https://www.wikispaces.com/site/help?url=https://circuitdebater.wikispaces.com/page/links/University+DB?orderBy=latest_date&orderDir=desc" rel="nofollow"><strong>Support</strong></a> &middot;
<a href="/space/subscribe/upgrade"><strong>Upgrade</strong></a>
</div>      <div class="WikiLicense WikiElement">Contributions to https://circuitdebater.wikispaces.com/ are licensed under a <a rel="license" href="http://www.creativecommons.org/licenses/by-sa/3.0">Creative Commons Attribution Share-Alike 3.0 License</a>. <a rel="license" href="http://www.creativecommons.org/licenses/by-sa/3.0"><img src="https://ssl.wikicdn.com/i/creativecommons/by-sa_3.0_80x15.png" width="85" height="15" alt="Creative Commons Attribution Share-Alike 3.0 License"/></a><br />Portions not contributed by visitors are Copyright 2018 Tangient LLC<br /><a href="https://www.tes.com/us/?utm_source=wikispaces&utm_medium=link&utm_campaign=US-52-footer">TES: The largest network of teachers in the world</a></div>    </div>
  </div>
</footer>


<script type="text/template" id="dialog-template">
<div class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
</script>


<div id="js-help-template" class="hidden">
  <div class="ws-help">
    <div class="js-help-controls WikispacesContent WikispacesBs3">
      <a href="https://www.wikispaces.com/site/gettingstarted/off" class="btn btn-default hidden js-getting-started-off pull-right">Turn off "Getting Started"</a>
      <ol class="breadcrumb">
        <li class="js-special-breadcrumb active">
          <a href="http://helpcenter.wikispaces.com/" data-breadcrumb="0">Home</a>
        </li>
        <li class="js-ellipsis hidden js-special-breadcrumb">
          ...
        </li>
        <li class="js-spinner hidden js-special-breadcrumb"><i class="fa fa-spinner fa-spin"></i></li>
      </ol>
    </div>
    <div class="ws-help-content wiki">Loading...</div>
  </div>
</div>
</div>
<script src="https://ssl.wikicdn.com/s/gz/6q86j8zz-common.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
ws.namespace('ws.attributes');
ws.attributes.DISCUSSION_COUNT = 0;

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function() {
  ws.common.addJsonNotices({"warning":[],"error":[],"info":[],"success":[]});
});

jQuery(document).ready(function() {
  ws.common.addNotice("<script type=\"text\/javascript\">function wsDismissBanner() { ws.common.removeNotice();  ws.cookie.set(\"wsFirstPartShutdown\", 1, {expires: 365 * 86400, domain: \".wikispaces.com\"}); return false;}$(\".ui-pnotify-closer\").remove();<\/script><i class=\"fa fa-times fa-fw ws-close\" onclick=\"wsDismissBanner();\"><\/i>It\u2019s time for us to say farewell\u2026 Classroom and Free Wikis are closing Soon!<br\/>Find out more about the full Wikispaces Site Closure <a href='http:\/\/blog.wikispaces.com' target='_top'>HERE<a\/>", "warning");
});

jQuery(document).ready(function($) {
  
  function tipPlacement() {
    return this.$element.closest('.ws-menu-bar .btn-group').is('.open') ? 'top' : 'bottom';
  }

  

  $('.ws-menu-bar').each(function() {
    var $menuBar = $(this);
    var $tagDropdown = $menuBar.find('.ws-tag-dropdown-menu');
    $menuBar.find('.tipme').tooltip({placement: tipPlacement, container: '.ws-menu-bar'});

    
    $menuBar.find('.ws-btn-more').click(ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .btn-group').is('.open')) {
        ws.common.hideMorePageBar();
      } else {
        ws.common.showMorePageBar();
      }
    }));

    $menuBar.on('click', '.ws-tag-dropdown-toggle', ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .dropdown').is('.open')) {
        ws.common.hideTagDropdown();
      } else {
        ws.common.showTagDropdown();
      }
    }));

    $(document.body).click(function(e) {
      var $target = $(e.target);
      if (!$target.closest('.ws-more-menu').closest('.ws-menu-bar').is($menuBar)
          || $target.closest('a').is('.WikispacesDialogLink')) {
        ws.common.hideMorePageBar();
      }
      if ($tagDropdown.length && !$target.closest('.ws-tag-dropdown-menu').is($tagDropdown)) {
        ws.common.hideTagDropdown();
      }
    });
    
  });
});


jQuery(document).ready(function($) {
  $('.ws-more-menu').on('click', 'a', function(e) {
    if ($(this).is('.disabled')) {
      e.preventDefault();
    }
  });
});


jQuery(document).ready(function () {
  ws.cob.makeCallback("WikiTableLinkList", function() {})();
});

jQuery(document).ready(function($) {
  $(document).tipsy({live: '.WikispacesTooltip'});
});



--></script><!-- w23 125 mem:1:11(29) dql:4:8(3) tot:125:125(1) wki:7:7(1) -->

</body>
</html>